body {
  background-color: ;
}

.container {
  /*Lætur allt inn í flexboxinu vera flexbox*/
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100%;
  width: 90%;
  justify-content: space-around;
  background-color: #EFF5FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    flex-flow: row wrap;
    justify-content: flex-end;
}

li a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

form {
  align-self: center;
}
